{% extends "blog/base.html" %}

<!-- jumbotron -->
{% block header %}
  <div class='jumbotron'>
	<h1>Share what's on your mind!</h1>
  </div>
{% endblock header %}

{% block content %}
  <!-- introduction paragraph to the blog with links to register -->
  <h2>Blog! is a platform for people to share ideas, experiences, and anything else on their mind. <a href="{% url 'users:register' %}">Register an account</a> to view all posts, comment, and write posts yourself.</h2>
  
  <!-- add a new post link -->
  <h2>
    <a href="{% url 'blog:new_post' %}">Add a new blog post.</a>
  </h2>
  
  <h2>Posts:</h2>
  
  <!-- list of posts in order by date -->
  {% for post in posts %}
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h3>
		  {{ post }} 
		  <small>
			Author: {{ post.author }} - {{ post.posted_on|date:'M d, Y' }} <a href="{% url 'blog:edit_post' post.id %}">edit post</a>
		  </small>
		</h3>
	  </div>
	  <div class="panel-body">
	    {{ post.content|linebreaks }}
	  </div>
	  <!-- comments -->
	  <div class="panel-footer">
	  {% if post.comments.count > 0 %}
		<h4>Comments</h4>
	    {% for comment in post.comments.all %}
		  <p>
			<strong>{{ comment.author }}:</strong> {{ comment }}
			<small><a href="{% url 'blog:edit_comment' comment.id %}">edit</a></small>
		  </p>
			  
	    {% endfor %}
	  {% endif %}
	  <a href="{% url 'blog:new_comment' post.id %}">Comment</a>
 	  </div>
   </div> <!-- panel -->
  {% empty %}
	There are no entries for this topic yet.
  {% endfor %}
 
{% endblock content %}
